<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="id.co.gits.moviesdetail">

    <dist:module
        dist:onDemand="true"
        dist:title="@string/title_moviesdetail">
        <dist:fusing dist:include="true" />
    </dist:module>

    <application>
        <activity android:name=".MainDetailActivity"
            android:parentActivityName="id.gits.gitsmvvmkotlin.mvvm.splashscreen.SplashscreenActivity">
            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="id.gits.gitsmvvmkotlin.mvvm.splashscreen.SplashscreenActivity"/>

            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
            </intent-filter>
        </activity>
    </application>
</manifest>

